body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header {
    justify-content: center;
}

.button {
    background-color: aliceblue;

}

nav {
    background-color: black;
    color: ;
}
span{
    background-color: rgb(249, 7, 7);
    color: black;
}

.nav-link {
    text-decoration: none;
}

h1 {
text-align: center;
}

p {
    font-size: 20px;
}

.info {
   
}

article h2 {
   ;
}

.article-but {
    
}

footer {
   
}

footer {
    color: darkgrey;
    text-align: center;
}

footer p {
}
header img{
  width: 200px;
  height: 100px;
}
heder a {
  width: 200px;
  height: 100px;
}

.The {
color: darkgreen;
}
.last {
    color: green;
}
.of {
    color: greenyellow;
}
.us {
    color: goldenrod;
}
.Part {
    width:300px;
    height: 200px;
}


.Part12 {
width: 150px;
height: 170px;
}
.Part13{
width: 150px;
height: 170px;
}

.Part14{
width: 175px;
height: 170px;
}
.Part1234{
    justify-content: space-between;
}


.Part15{
width: 200px;
height: 170px;
}
.Part16{
width: 150px;
height: 170px;
}

.Part17{
width: 145px;
height: 170px;
}
.Part4321{
    justify-content: space-between;
}
.Part789{
    justify-content: space-between;
    width: 500px;
    height: 300px;
}
.Part20{
    width: 500px;
    height:250px ;
}

.P123{
    text-align: center;
}








